# Exercise 9: Which stocks move together?

In the previous exercise, you clustered companies by their daily stock price movements.  So which company have stock prices that tend to change in the same way?  Now inspect the cluster labels from your clustering to find out.

**Step 1:** Load the data _(written for you)_.

In [1]:
import pandas as pd

fn = '../datasets/company-stock-movements-2010-2015-incl.csv'
stocks_df = pd.read_csv(fn, index_col=0)

**Step 2:** Run your code from the previous exercise _(filled in for you)_.

In [2]:
companies = list(stocks_df.index)
movements = stocks_df.values

from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

normalizer = Normalizer()
kmeans = KMeans(n_clusters=14)
pipeline = make_pipeline(normalizer, kmeans)
pipeline.fit(movements)

Pipeline(memory=None,
         steps=[('normalizer', Normalizer(copy=True, norm='l2')),
                ('kmeans',
                 KMeans(algorithm='auto', copy_x=True, init='k-means++',
                        max_iter=300, n_clusters=14, n_init=10, n_jobs=None,
                        precompute_distances='auto', random_state=None,
                        tol=0.0001, verbose=0))],
         verbose=False)

**Step 3:** Use the `.predict()` method of the pipeline to predict the labels for `movements`.

In [4]:
labels = pipeline.predict(movements)

**Step 4:** Align the cluster labels with the list of company names `companies` by creating a DataFrame `df` with `labels` and `companies` as columns.

In [5]:
df = pd.DataFrame(data={'labels': labels, 'companies': companies})

**Step 5:** Now display the DataFrame, sorted by cluster label.  To do this, use the `.sort_values()` method of `df` to sort the DataFrame by the `'labels'` column.

In [7]:
df.sort_values('labels')

    labels                           companies
1        0                                 AIG
3        0                    American express
26       0                      JPMorgan Chase
5        0                     Bank of America
18       0                       Goldman Sachs
16       0                   General Electrics
55       0                         Wells Fargo
39       1                              Pfizer
25       1                   Johnson & Johnson
54       1                            Walgreen
8        2                         Caterpillar
44       2                        Schlumberger
35       2                            Navistar
53       3                       Valero Energy
10       3                      ConocoPhillips
57       3                               Exxon
12       3                             Chevron
46       4                      Sanofi-Aventis
37       4                            Novartis
49       4                               Total
43       4                                 SAP
52       4                            Unilever
42       4                   Royal Dutch Shell
6        4            British American Tobacco
19       4                     GlaxoSmithKline
15       5                                Ford
7        5                               Canon
34       5                          Mitsubishi
45       5                                Sony
58       5                               Xerox
48       5                              Toyota
21       5                               Honda
51       6                   Texas instruments
50       6  Taiwan Semiconductor Manufacturing
27       7                      Kimberly-Clark
9        7                   Colgate-Palmolive
40       7                      Procter Gamble
17       8                     Google/Alphabet
2        8                              Amazon
59       8                               Yahoo
56       9                            Wal-Mart
47      10                            Symantec
29      10                     Lookheed Martin
23      10                                 IBM
36      10                    Northrop Grumman
4       10                              Boeing
32      10                                  3M
31      10                           McDonalds
30      10                          MasterCard
13      10                   DuPont de Nemours
20      10                          Home Depot
11      11                               Cisco
14      11                                Dell
0       11                               Apple
24      11                               Intel
33      11                           Microsoft
22      11                                  HP
28      12                           Coca Cola
38      12                               Pepsi
41      13                       Philip Morris

**Great job!** Using k-means, you've discovered which companies stock prices move together on the stock exchange.